*{
    font-family: 'Mitr', sans-serif;
    color: #fff;
}
body {
    background: #202020;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body .container {
    border: 2px solid white;
    border-radius: 15px;
    width: 700px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
body .container h2{
    text-decoration: underline;
    margin: 20px auto;
    text-align: center;
}
body .container button{
    margin: 20px auto;
    color: white !important;
    background: #0084ff;
    padding: .5rem 1.5rem;
    display: inline-block;
    transition: 0.5s;
}
body .container button:hover{
    background: #005aad;
}
body .container div{
    margin: 20px auto;
    /* color: black !important; */
    border: none;
    text-align: center;
}

@media screen and (max-width: 730px) {
    body .container {
        width: 550px;
    }
}

@media screen and (max-width: 580px) {
    body .container {
        width: 380px;
    }
}
@media screen and (max-width: 410px) {
    body .container {
        width: auto;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    body .container h2{
        font-size: 22px;
    }
}

.info {
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    color: yellow;
}
th, td {
    text-align: center;
    border-bottom: 1px solid rgb(253, 165, 0);
}
table, th, td {
    border-collapse: collapse;
}
/* tr:nth-child(even) {
    background-color: #444444;
} */
tr:hover {
    background-color: rgb(83, 83, 83);
}
caption {
    margin-bottom: 15px;
    border: 2px solid rgb(253, 165, 0);
    border-radius: 5px;
}
tr {
    transition: 0.2s;
}
#BMIValue {
    text-align: center;
}